@font-face {
    font-family: "TTTravels";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('TTTravels'),
       url("/fonts/TTTravels-Light.ttf") format('truetype'),
}
@font-face {
    font-family: "TTTravels";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('TTTravels'),
       url("/fonts/TTTravels-Regular.ttf") format('truetype'),
}
@font-face {
    font-family: "TTTravels";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local('TTTravels'),
       url("/fonts/TTTravels-Medium.ttf") format('truetype'),
}
@font-face {
    font-family: "TTTravels";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local('TTTravels'),
       url("/fonts/TTTravels-DemiBold.ttf") format('truetype'),
}
@font-face {
    font-family: "TTTravels";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('TTTravels'),
       url("/fonts/TTTravels-Bold.ttf") format('truetype'),
}
