@import "./normalize";
@import "./fonts";
@import "./mixin";

body { 
    font-family: 'TTTravels', sans-serif;
    background: #FFFFFF;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}

.pointer { 
    cursor: pointer;
}

.d-flex-btw { 
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.d-flex-c { 
    display: flex;
    align-items: center;
    justify-content: center;
}
